*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.fr;
}

.header_main {
    background-color: #b93333;
    height:2rem;
}

body{
    background-image: url(../img/dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    background-color: #b93333;
    font-size: larger;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin-top: 0.5rem;
}

.navbar ul a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar>ul a:hover {
    background-color: white;
    color: #b93333;
}

.logo {
    background-color: white;
}

.workDays {
    margin-top: 0.5rem;
    color: white;
    width: 12rem;
}

.list {
    display: none;
}

.navbar>ul>li:hover .list {
    display: block;
    position: absolute;
    margin-left: -1.5rem;
    margin-top: 1rem;
    background-color: #b93333;
    background: linear-gradient(rgba(185, 51, 51, 0.6), rgba(185, 51, 51, 0.7));
}

.navbar>ul>li:hover .list>ul {
    display: block;
}

.list>ul>li {
    padding: 0.5rem;
    align-content: center;
}

.list ul li a:hover {
    background-color: unset;
    color: white;
}

.banner_2 {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(22, 22, 22, 0.8)), url(../img/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -2rem;
}

.banner_2 h2 {
    color: brown;
    padding: 17rem 0 0 5rem;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: Gilroy;
    text-transform: uppercase;
}

.lorem{
    display: inline-block;
    color: #ffffff;
    text-align: justify;
    line-height: 1.5rem;
    font-family: 'Times New Roman';
    background-color: rgba(255, 255, 255, 0.1);
    margin: 2rem 0 0 3rem;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    border-radius: 5px;
}

.values{
        display: flex;  
        justify-content: center;
        margin-top: -7rem;
}

.branch,.staff,.mission,.core_values{
    margin: 1rem;
    padding: 1rem;
    border-top: 3px solid white;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8));
}

.values h1{
    color: #ffffff;
}

.value:hover{
    background-color: white;
    transition: background-color 1s;
    color: #b93333;
    cursor: pointer;
}

.ruler{
    display: flex;
    justify-content: center;
}

.ruler1, .ruler2, .ruler3{
    display: flex;
    justify-content: space-around;
    background-color: red;
    padding: 0.2rem;
    width: 18rem;
}

.ruler2{
    background-color: rgb(255, 174, 0);
}
.ruler3{
    background-color: yellow;
}


.workers{
    padding: 5rem;
    background-image: url(../img/sa1.jpg);
}

.workers h1{
    text-align: center;
    font-family: sans-serif;
    padding: 1rem;
}

.founder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    column-gap: 5em;
    margin: 1rem 0 -3rem 0; 
    background-color: rgb(238, 238, 238); 
    padding: 1rem; 
    border-radius: 1px;
}

.founder img{
    border-radius: 50%;
    border: 3px solid #b93333;
    background-size: auto;
}

.manager{
    text-align: center;
    line-height: 2rem;
    font-size: small;
    font-weight: bold;

}

.manager h3{
    background-color: #b93333;
    color: white;
    text-transform: uppercase;
    font-size: medium;
}

.infor {
    background-color: #b93333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 4rem;
    line-height: 2rem;
    color: white;
    gap: 3rem;
}

.infor .icon {
    font-size: 20pt;
    column-gap: 100px;
    padding: 1rem;
    margin-left: -1rem;
}

.infor .icon:hover {
    color: #000000;
}

.sponsors {
    line-height: 2.4rem;
}

li {
    list-style: none;
    text-align: left;
}

.message {
    text-align: center;
}

input {
    padding: 0.7rem;
    margin-top: 15px;
    border-radius: 7px;
    border: none;
}

.subject,
textarea {
    width: 24rem;
    border-radius: 7px;
    margin-top: 1em;
    border: none;
}

textarea {
    height: 5rem;
    width: 24.5rem;
}

.submit {
    width: 100px;
    border-radius: 15px;
    background-color: #b93333;
    font-weight: bolder;
    color: white;
    border: 1px solid white;
}

.submit:hover {
    transform: scale(1.02);
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 7px 7px 0 rgba(0, 0, 0, 0.2);
    color: #b93333;
    background-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b93333;
    color: white;
    text-align: center;
    border-top: 1px solid white;
    padding: 1rem;
}