*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-position: cover;
}

.container {
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.1fr 1fr 1fr fr;
}

.header_main {
    background-color: #b93333;
    height: 2rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    background-color: #b93333;
    font-size: larger;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.8);
    z-index: 999;
}


.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin-top: 0.5rem;
}

.navbar ul a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar>ul a:hover {
    background-color: white;
    color: #b93333;
}

.logo {
    background-color: white;
}

.workDays {
    margin-top: 0.5rem;
    color: white;
    width: 12rem;
}

.list {
    display: none;
}

.navbar>ul>li:hover .list {
    display: block;
    position: absolute;
    margin-left: -1.5rem;
    margin-top: 1rem;
    background-color: #b93333;
    background: linear-gradient(rgba(185, 51, 51, 0.6), rgba(185, 51, 51, 0.7));
}

.navbar>ul>li:hover .list>ul {
    display: block;
}


.list>ul>li {
    padding: 0.5rem;
    align-content: center;
}

.list ul li a:hover {
    background-color: unset;
    color: white;
}

.sa{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 22rem; 
}


.banner_2{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(22, 22, 22, 0.8)), url(../img/aa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


 .slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  } 
  
  .slider .slide {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slide 50s infinite;
  }
  
  .slider .slide:nth-child(1) {
    background-image: url(../img/gg.jpeg);
    animation-delay: -20s;
  }
  
  .slider .slide:nth-child(2) {
    background-image: url(../img/ff.jpeg);
    animation-delay: -20s;
  }
    
  .slider .slide:nth-child(3) {
    background-image: url(../img/build.jpg);
    animation-delay: -30s;
  }

  .slider .slide:nth-child(4) {
    background-image: url(../img/ee.jpg);
    animation-delay: -40s;
}

.slider .slide:nth-child(5) {
    background-image: url(../img/hh.jpg);
    animation-delay: -45s;
}

  @keyframes slide {
    0%, 15%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    95% {
      transform: translateX(100%);
      animation-timing-function: ease;
}
  }

.service{
    text-align: center;
    /* margin: 0 3rem; */
    color: rgb(0, 0, 0);
    padding: 2rem;
    padding-top: 0.5rem;
    margin-top: -9rem;
    background: white;
    border-top: 5px solid #b93333;
    z-index: 888;
    position: relative;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.8), 0 7px 7px 0 rgba(0, 0, 0, 0.8);
}

.service h1{
    font-size: 2rem;
    font-weight: bolder;
    align-items: center;
    margin-bottom: 1px;
    color: #b93333;
    text-transform: uppercase;
}

h4{
    color: #b93333;
    padding-top: 5px;
}

/* mainpage */

.main{
    background-color: rgb(255, 255, 255);
    background: url(../img/dark.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #b93333;
    margin-top: -8rem;
}

.main1{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(238, 238, 238);
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 8rem 2rem 2rem 2rem ;
    overflow: hidden;
}

.web-design, .hosting, .maintenance1, .sHosting{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    width: 15rem;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 7px 7px 0 rgba(0, 0, 0, 0.1);
}

.web-services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.web-services p{
    text-align: justify;
}

.web-services h1{
    text-align: center;
    padding: 10px;
    color: #b93333;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin: 5px;
}

.web-services h3{
    text-align: center;
    padding: 10px;
    color: #b93333;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin-top: 5px;
}

.other-service{
    text-align: center;
    padding: 2rem;
    color: #b93333;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    position: absolute;
    margin: 22rem 0 0 -30rem;
    line-height: 2rem;
    list-style-type: circle;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.8), 0 7px 7px 0 rgba(0, 0, 0, 0.8);}

.other-service h1{
    padding-bottom: 1rem;
    font-weight: bolder;
}

.other-service li{
   list-style-type: square;
}

.courses{
    background-color: white;
    background: url(../img/kkk.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -2rem;
}

.course-outline{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px,1fr));
    gap: 2rem;
    align-items: center;
    text-align: center;
    background-color: rgb(238, 238, 238);
    padding: 2rem;
    margin: 2rem;
}

.class{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem; 
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 7px 7px 0 rgba(0, 0, 0, 0.1);
    cursor: all-scroll;
} 

.class:hover{
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.8), 0 7px 7px 0 rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.courses img{
    border-radius: 50%;
    width: 50%;
    height: 10rem;
    margin-top: -5rem;
    border: 3px solid grey;
}

.courses p{
    padding: 1rem;
}

.courses{
    gap: 2rem;
}

.courses h1{
    color: #b93333;
    text-align: center;
}

#bt{
    background-color: #b93333;
    color: white;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

.ruler{
    display: flex;
    justify-content: left;
}

.ruler1, .ruler2, .ruler3{
    display: flex;
    flex-direction: start;
    background-color: red;
    padding: 0.2rem;
    border-radius: 50%;
} 

.ruler2{
    background-color: rgb(255, 174, 0); 
}

.ruler3{
    background-color: yellow;
}


/* footer */

button {
    
    border-radius: 5px;
    background-color: #b93333;
    font-weight: bolder;
    color: white;
    font-size: 15pt;
    border: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 0.3rem;
    padding: 0.5rem;
    width: 26.5rem;
}

input{
    width: 25rem;
    padding: 0.7rem;
    margin-top: 15px;
}

.infor {
    background-color: #b93333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 4rem;
    line-height: 2rem;
    color: white;
    gap: 3rem;
}

.infor .icon {
    font-size: 20pt;
    column-gap: 100px;
    padding: 1rem;
    margin-left: -1rem;
}

.infor .icon:hover {
    color: #000000;
}

.sponsors {
    line-height: 2.4rem;
}

li {
    list-style: none;
    text-align: left;
}

.message {
    text-align: center;
}

input {
    width: fit-content;
    border-radius: 7px;
    border: none;
}

.subject,
textarea {
    width: 24rem;
    border-radius: 7px;
    margin-top: 1em;
    border: none;
}

textarea {
    height: 5rem;
}

.submit {
    width: 100px;
    border-radius: 15px;
    background-color: #b93333;
    font-weight: bolder;
    color: white;
    border: 1px solid white;
}

.submit:hover {
    transform: scale(1.02);
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 7px 7px 0 rgba(0, 0, 0, 0.2);
    color: #b93333;
    background-color: white;

}

.footer {
    background-color: #b93333;
    color: white;
    text-align: center;
    border-top: 1px solid white;
    padding: 1rem;
}


/* phone view */

@media (min-width: 319px) and (max-width: 576px) {

        .other-service {
                margin: 2rem 0 0 25rem;
               
            }
        
        
            .other-service li {
                display: none;
            }

.course-outline{
    display: grid;
    grid-template-columns: repeat(1, minmax(200px,1fr));
    gap: 2rem;
    place-items: center;
}

.class{
    width: 20rem;
} 

}


@media (min-width: 577px) and (max-width: 768px) {

    .other-service {
        margin: 2rem 0 0 25rem;

    }

    .other-service li {
        display: none;
    }

    .course-outline {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        place-items: center;
    }

    .class {
        width: 17.5rem;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    .other-service {
        margin: 2rem 0 0 20rem;
    }

    .other-service li {
        display: none;
    }

    .course-outline {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        place-items: center;
    }


    .class {
        width: 20rem;
    }

}


@media (min-width: 993px) and (max-width: 1023px) {

    .other-service {
        margin: 2rem 0 0 20rem;
    }

    .other-service li {
        display: none;
    }

    .course-outline {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        place-items: center;
    }

    .class {
        width: 20rem;
    }
}

@media (min-width: 1024px) and (max-width: 1251px) {
    .other-service {
            margin: 2rem 0 0 20rem;
        }
    
        .other-service li {
            display: none;
        }
}





