*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.8fr 0.1fr fr;
}

.header_main{
        background-color: #b93333;
        height: 2rem;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
     background-color: #b93333;
    font-size: larger;
    padding: 1rem;
    width: 100%;
    z-index: 999;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.8);
}


.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin-top: 1rem;
}

.navbar ul a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar>ul a:hover{
    background-color: white;
    color: #b93333;
}

.logo{
    background-color: white;
}

.workDays{
    margin-top: 0.9rem;
    color: white;
    width: 12rem;
}

.list{
    display: none;
}

.navbar>ul>li:hover .list{
    display: block;
    position: absolute;
    margin-left: -1.5rem;
    margin-top: 1rem;
    background-color:#b93333;
    background: linear-gradient(rgba(185, 51, 51, 0.6), rgba(185, 51, 51, 0.7));
}

.navbar>ul>li:hover .list>ul{
    display: block;
}

.list>ul>li{
    padding: 0.5rem;
    align-content: center;   
}

.list ul li a:hover{
    background-color: unset;
    color: white;
}

.sa{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 22rem; 
}

.banner{
    height: 40rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    overflow-wrap: break-word   
}

.sa h2{
    font-size: 5rem;
}

.sa h3{
    font-style: italic;
    font-size: large;
}

.contact{
    text-align: center;
    padding-top: 4rem;
}

.contact>a{
    text-decoration: none;
    background-color: #b93333;
    color: white;
    border-radius: 10px;
    padding: 0.4rem;
}

.contact>a:hover{
    color: red;
    background-color: white;
}

/* About */
.about{
    background-image: linear-gradient(rgb(218, 210, 210), rgb(141, 61, 61)), url(img/7.jpg);
    background-size: cover;
    width: auto;
}

.techhub{
    background-color: rgb(238, 238, 238);
    margin: 0 3rem 3rem ;
    padding: 1rem;
    border-radius: 2rem 2rem 02rem 2rem;
    overflow-wrap: break-word;
    padding-bottom: 2rem; 
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 7px 7px 0 rgba(0, 0, 0, 0.1);
}

.num1{
    color: black;
    font-style: italic;
    font-size: larger;
    font-size: smaller; 
}

.web{
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    color: rgb(167, 11, 11);
    font-size: 32pt;
    font-style: italic;
    overflow: hidden;
    display: flex;
}


.web a{
    text-decoration: none;
    color: white;
    background-color: #b93333;
    border-radius: 5rem;
    padding: 0.5rem;
    margin: 1rem;
    font-weight: bolder;
    font-family: gilroy;
    font-size: 15pt;
    font-style: italic;
}


.web a:hover{
    border-radius: 5rem;
    background-color: white;
    color: #b93333;
    cursor: pointer;
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15pt;
    color: rgb(167, 11, 11);
    font-weight: bolder;
    margin: 2rem;
}

.subscribe h3{
    font-family: gilroy; 
}

 button {
    border-radius: 5px;
    background-color: #b93333;
    font-weight: bolder;
    color: white;
    font-size: 15pt;
    border: none;
    padding: 0.5rem;
    width: 25rem;
    margin-top: -1rem;
}

 button:hover{
    transform: scale(1.02);
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 7px 7px 0 rgba(0, 0, 0, 0.2);    
    cursor: pointer;
}

#subscribe{
    width: 25rem;
    padding: 0.7rem;
}

input{
    width: 25rem;
    padding: 0.7rem;
    margin-top: 15px;
}


/* cards */

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 2rem;
}


.image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.5), 0 7px 7px 0 rgba(0, 0, 0, 0.1);
}

.card1, .card2, .card3{
    background-color: rgb(238, 238, 238);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 7px 7px 0 rgba(0, 0, 0, 0.1);
    margin: 2rem;
    width: 20rem;
}

p{
    padding: 1rem;
}

.column:hover{
    box-shadow: 0 7px 7px 0 rgba(128, 128, 128, 0.8), 0 7px 7px 0 rgba(128, 128, 128, 0.8) ;
    cursor: pointer;
} 

.infor{
    background-color: #b93333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 4rem;
    line-height: 2rem;
    color: white;
    gap: 3rem;   
}

.infor .icon{
    font-size: 20pt;
    column-gap: 100px;
    padding: 1rem;
    margin-left: -1rem;
}

.infor .icon:hover{
    color: #000000;
}
    
.sponsors{
    line-height: 2.4rem;   
}

li{
    list-style: none;
    text-align: left;   
}

.message{
    text-align: center;
}

input{
    width: fit-content;
    border-radius: 7px;
    border: none;
}
.subject, textarea{
    width: 24rem;
    border-radius: 7px;
    margin-top: 1em;
    border: none;
}

textarea{
    height: 5rem; 
}

.submit{
    width: 100px;
    border-radius: 15px;
    background-color: #b93333;
    font-weight: bolder;
    color: white;
    border: 1px solid white;
}

.submit:hover{
    transform: scale(1.02);
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 7px 7px 0 rgba(0, 0, 0, 0.2);
    color: #b93333;
    background-color: white;
}

.footer{
    background-color: #b93333;
    color: white;
    text-align: center;
    border-top: 1px solid white;
}

/* phone view */

@media (min-width: 319px) and (max-width: 576px){

.sa h2{
    font-size: 4rem;
    }
    

.web h1{
    font-size: 2rem;
}
   
.web a {
    padding: 0.3rem;
    margin: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
}
    
}

